<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwetherell.augmented_reality"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2tpPKzdmLM9W9gcEPjE7KCM5fxhS9kTq" />

        <activity
            android:name=".activity.Demo"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Source" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Xinkongyuan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.AugmentedReality" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.SensorsActivity" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Dianxinyuan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.BDMap" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Daqikexue" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Daqiwuli" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Chuanmeiyuyishu" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Diliyuyaogan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Gongguan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Haiyang" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Huanke" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Jingguan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Jiruan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Leiding" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Makesi" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Shuiwenqixiang" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Shutong" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Wudian" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Yingyongqixiang" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.Yuyuan" >
        </activity>
        <activity android:name="com.jwetherell.augmented_reality.activity.DetailsActivity" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 分享功能 开始 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>